.divider {
  width: 35px;
  height: 0px;
  border: 2px solid #f24b6a;
  margin: 10px auto;
}

.divider-text {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #888888;
  margin: 30px 10px 0 10px;
  text-transform: uppercase;
}
